/.quarto/
/.tools/
/node_modules/
/_output/
/artifacts/qa/
/playwright-report/
/test-results/
/index.html
/content/*.html
/index_files/
/site_libs/
*.aux
*.log
*.out
*.toc
auto-mechanic-fa.tex


**/*.quarto_ipynb
